<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achievement</title>
    <link rel="stylesheet" href="../Css/Main.css">
    <!-- <link rel="stylesheet" href="../Css/project-detail1.css"> -->
    <link rel="stylesheet" href="../Css/partickel.css">
    <link rel="stylesheet" href="../Css/Achievement.css">
</head>
<body>
    <!-- <div id="particles-js"></div> -->
    <div class="container" >
        <!-- header -->
        <div id="header">
            <h1> H </h1>
            <div class="headerlogo">
                <a href="../Main.html">
                    <div class="kotaklogo">
                        <img src="../Asset/HomeLogo.png" alt="" class="Headerlogo">
                    </div>
                </a>
                <a href="./Achievement.html">
                    <div class="kotaklogo">
                        <img src="../Asset/Certificate.png" alt="" class="Headerlogo">
                    </div>
                </a>
                <a href="./Resume.html">
                    <div class="kotaklogo">
                        <img src="../Asset/Read.png" alt="" class="Headerlogo">
                    </div>
                </a>

            </div>
            <div class="kotaklogoo shadow-dark">
                <img src="../Asset/Moon.png" alt="" class="Headerlogo"  id="theme-icon">
            </div>
        </div>
        <!-- header -->

        <div class="AchievementHeader">
            <h1>Certificate</h1>
        </div>

        <div class="AchievementContent" id="AchievementContent">
            <div class="image-container ">
                
                <img src="../Asset/Certificate/2.png" alt="" class="clickable-image">
                
                <img src="../Asset/Certificate/1.png" alt="" class="clickable-image">
                <img src="../Asset/Certificate/3.png" alt="" class="clickable-image">
            </div>
            <div class="image-container">
                <img src="../Asset/Certificate/4.png" alt="" class="clickable-image">
                <img src="../Asset/Certificate/5.png" alt="" class="clickable-image">
                <img src="../Asset/Certificate/6.png" alt="" class="clickable-image">
            </div>

            <div id="image-modal" class="modal">
                <span class="close" id="close-modal"><img src="../Asset/Close.png" alt=""></span>
                <img id="modal-image" class="modal-content">
            </div>
        
        </div>
       
        

        <!-- footer -->
        <div id="footer">
            <a href="https://www.linkedin.com/in/howard-liusansky-593251259/">
                <div class="kotaklogo">
                    <img src="../Asset/Linkin.png" alt="" class="footerLogo">
                </div>
            </a>
            <a href="">
                <div class="kotaklogo">
                    <img src="../Asset/GitHub.png" alt="" class="footerLogo">
                </div>
            </a>

            <a href="https://www.instagram.com/snskyyy/">
                <div class="kotaklogo">
                    <img src="../Asset/Instagram.png" alt="" class="footerLogo">
                </div>
            </a>
            <a href="">
                <div class="kotaklogo">
                    <img src="../Asset/Mail.png" alt="" class="codinglogo">
                </div>
            </a>
            <p>©2023 Howard Liusansky</p>
        </div>
        <!-- footer -->
    </div>


    <script src="../Script/script-detail.js"></script>
    <script src="../Script/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="../Script/Partickle.js"></script>
    <script src="../Script/Achievement.js"></script>
    <!-- <script src="../Script/"></script> -->
</body>
</html>