<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-Space</title>
    <link rel="stylesheet" href="../Css/Main.css">
    <link rel="stylesheet" href="../Css/partickel.css">
    <link rel="stylesheet" href="../Css/project-detail1.css">
    
</head>
<body>
    <div  id="particles-js"> </div>
    <div class="container">

        <!-- header -->
        <div id="header">
            <h1> H </h1>
            <div class="headerlogo">
                <a href="../Index.html">
                    <div class="kotaklogo">
                        <img src="../Asset/HomeLogo.png" alt="" class="Headerlogo">
                    </div>
                </a>
                <a href="./Achievement.html">
                    <div class="kotaklogo">
                        <img src="../Asset/Certificate.png" alt="" class="Headerlogo">
                    </div>
                </a>
                <a href="./Resume.html">
                    <div class="kotaklogo">
                        <img src="../Asset/Read.png" alt="" class="Headerlogo">
                    </div>
                </a>

            </div>
            <div class="kotaklogoo shadow-dark">
                <img src="../Asset/Moon.png" alt="" class="Headerlogo"  id="theme-icon">
            </div>
        </div>
        <!-- header -->

        <div id="title-desc">
            <h1>PeluangKerja</h1>
            <p>PeluangKerja with asp.net</p>
            <div class="progamming-language2">
                <div class="progamming-language-button">
                    <p>asp-net</p>
                </div>
                <div class="progamming-language-button">
                    <p>css</p>
                </div>
                <div class="progamming-language-button">
                    <p>csharp</p>
                </div>
                <div class="progamming-language-button">
                    <p>asp</p>
                </div>
                <div class="progamming-language-button">
                    <p>html</p>
                </div>
            </div>
            <div class="github-logo3">
                <a href="https://github.com/Snskyy/PeluangKerja">
                    <img src="../Asset/GitHub.png" alt="">
                    <p>github</p>
                </a>
            </div>
        </div>

        <div class="content-desc">
            <h1>PeluangKerja</h1>
            <p>Web application regarding looking for work for freelancers to look for work, and also for job providers to provide work there.</p>
        </div>

        
        

        <!-- footer -->
        <div id="footer">
            <a href="https://www.linkedin.com/in/howard-liusansky-593251259/">
                <div class="kotaklogo">
                    <img src="../Asset/Linkin.png" alt="" class="footerLogo">
                </div>
            </a>
            <a href="">
                <div class="kotaklogo">
                    <img src="../Asset/GitHub.png" alt="" class="footerLogo">
                </div>
            </a>

            <a href="https://www.instagram.com/snskyyy/">
                <div class="kotaklogo">
                    <img src="../Asset/Instagram.png" alt="" class="footerLogo">
                </div>
            </a>
            <a href="">
                <div class="kotaklogo">
                    <img src="../Asset/Mail.png" alt="" class="codinglogo">
                </div>
            </a>
            <p>©2023 Howard Liusansky</p>
        </div>
        <!-- footer -->
    </div>

    <script src="../Script/script-detail.js"></script>
    <script src="../Script/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="../Script/Partickle.js"></script>
    <!-- <script src="../Script/"></script> -->
</body>
</html>