<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="../Css/Main.css">
    <link rel="stylesheet" href="../Css/partickel.css">
    <link rel="stylesheet" href="../Css/project-detail1.css">
    <link rel="stylesheet" href="../Css/Resume.css">
    
</head>
<body>
    <div  id="particles-js"> </div>
    <div class="container">

        <!-- header -->
        <div id="header">
            <h1> H </h1>
            <div class="headerlogo">
                <a href="../Index.html">
                    <div class="kotaklogo">
                        <img src="../Asset/HomeLogo.png" alt="" class="Headerlogo">
                    </div>
                </a>
                <a href="./Achievement.html">
                    <div class="kotaklogo">
                        <img src="../Asset/Certificate.png" alt="" class="Headerlogo">
                    </div>
                </a>
                <a href="./Resume.html">
                    <div class="kotaklogo">
                        <img src="../Asset/Read.png" alt="" class="Headerlogo">
                    </div>
                </a>

            </div>
            <div class="kotaklogoo shadow-dark">
                <img src="../Asset/Moon.png" alt="" class="Headerlogo"  id="theme-icon">
            </div>
        </div>
        <!-- header -->


        <div class="content" id="content">
            <a href="https://binusianorg-my.sharepoint.com/personal/howard_liusansky_binus_ac_id/_layouts/15/guestaccess.aspx?share=EQZbwx4JhOtHgzK0WhGnlQABU5QyMRGAmNDU-2uAfPPUpQ&e=BYdWbz">
                <img src="../Asset/docs.png" alt="" class="image-hover">
            </a>
            <p>Click logo to view Resume</p>

        </div>


        <!-- footer -->
        <div id="footer">
            
            <a href="https://www.linkedin.com/in/howard-liusansky-593251259/">
                <div class="kotaklogo">
                    <img src="../Asset/Linkin.png" alt="" class="footerLogo">
                </div>
            </a>
            <a href="">
                <div class="kotaklogo">
                    <img src="../Asset/GitHub.png" alt="" class="footerLogo">
                </div>
            </a>

            <a href="https://www.instagram.com/snskyyy/">
                <div class="kotaklogo">
                    <img src="../Asset/Instagram.png" alt="" class="footerLogo">
                </div>
            </a>
            <a href="">
                <div class="kotaklogo">
                    <img src="../Asset/Mail.png" alt="" class="codinglogo">
                </div>
            </a>
            <p>©2023 Howard Liusansky</p>
            
        </div>
        <svg class="waves" id="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
        <!-- footer -->
    </div>

    <script src="../Script/Resume.js"></script>
    <script src="../Script/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="../Script/Partickle.js"></script>
    <!-- <script src="../Script/"></script> -->
</body>
</html>